*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.card{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10rem;
}

.card .card_image img{
    width: 250px;
}

.card .card_image .card_icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: cadetblue;
}
